{{#each this}}
  <div class='country__wrapper'>
    <h1 class='country__title'>{{name}}</h1>
    <div class='wrapper__information'>
      <ul class='country__list'>
        <li class='country__list-item'><p class='text__inf'>Capital:
            <span class='span__inf'>{{capital}}</span></p></li>
        <li class='country__list-item'><p class='text__inf'>Population:
            <span class='span__inf'>{{population}}</span></p></li>
        <li class='country__list-item'><p class='text__inf'>Languages:
            <ul class='languages__list'>
              {{#each languages}}
                <li class='language__item'><span class='span__inf'>{{name}}</span></li>
              {{/each}}
            </ul></p>
        </li>
      </ul>
      <div>
        <img src='{{flag}}' alt='flag' class='flag' />
      </div>
    </div>

  </div>
{{/each}}